name: Deploy to k8s

on:
  push:
    branches:
      - master

env:
  KUBECONFIG: ${{ secrets.KUBE_CONFIG }}

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v6

      # Set up JDK 1.8
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      # Grant execute permission for Gradle wrapper
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # Build project with Gradle
      - name: Build with Gradle
        run: ./gradlew build

      # List build artifacts
      - name: List build artifacts
        run: ls -l build/libs/

      # Build and push Docker image
      - name: Build and Push Docker Image
        uses: mr-smithers-excellent/docker-build-push@v4
        with:
          image: namrarasheed154/java-app
          registry: docker.io
          username: ${{ secrets.Docker_Username }}
          password: ${{ secrets.Docker_Pass }}
          directory: .
          dockerfile: Dockerfile

      # Deploy to Kubernetes
      - name: Deploy to k8s
        run: |
          
          kubectl --kubeconfig=/home/gh-runner/.kube/config apply -f deployment.yml
      
