name: Deploy to Kubernetes

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create kubeconfig dynamically
        run: |
          mkdir -p $HOME/.kube
          
          cat <<EOF > $HOME/.kube/config
          apiVersion: v1
          kind: Config
          clusters:
          - name: cluster
            cluster:
              server: ${{ secrets.K8S_URL }}
              certificate-authority-data: ${{ secrets.KUBE_CA }}
          contexts:
          - name: context
            context:
              cluster: cluster
              user: gh-runner
              namespace: runner-ns
          current-context: context
          users:
          - name: gh-runner
            user:
              client-certificate-data: ${{ secrets.RUNNER_CRT }}
              client-key-data: ${{ secrets.RUNNER_KEY }}
          EOF

      - name: Deploy
        run: |
          sed -n '15,25p' /home/gh-runner/.kube/config
          kubectl delete deployment nginx-deployment --ignore-not-found
          kubectl apply -f deployment.yml 
          kubectl rollout status deployment/nginx-deployment
          kubectl get pods -n runner-ns
