name: Deploy to Kubernetes

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest  # GitHub-hosted runner

    steps:
    
      # Configure kubeconfig dynamically
      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          cat <<EOF > $HOME/.kube/config
          apiVersion: v1
          kind: Config
          clusters:
          - cluster:
              certificate-authority-data: ${{ secrets.KUBE_CA }}
              server: ${{ secrets.KUBE_SERVER }}
            name: github-actions-cluster
          contexts:
          - context:
              cluster: github-actions-cluster
              user: gha-deployer
            name: gha-context
          current-context: gha-context
          users:
          - name: gha-deployer
            user:
              token: ${{ secrets.KUBE_TOKEN }}
          EOF
          chmod 600 $HOME/.kube/config

      # Deploy to Kubernetes
      - name: Deploy to k8s
        run: |
         kubectl delete deployment nginx-deployment
         kubectl apply -f deployment.yml
         kubectl rollout status deployment/nginx-deployment
         kubectl get pods | grep nginx
