name: Deploy to Kubernetes

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted  # self-hosted runner

    steps:
    
     
        

      # Deploy to Kubernetes
      - name: Deploy to k8s
        run: |
      
        
 
           export KUBECONFIG=/home/gh-runner/.kube/minimal-kubeconf.yaml


           kubectl delete deployment/nginx-deployment
           kubectl apply -f deployment.yml
           kubectl rollout status deployment/nginx-deployment
           kubectl get pods | grep nginx
