name: Deploy to Kubernetes

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted  # GitHub-hosted runner

    steps:
    
     
        

      # Deploy to Kubernetes
      - name: Deploy to k8s
        run: |
      
         - name: Deploy to Kubernetes
 
           export KUBECONFIG=/home/gh-runner/kubeconfig-minimal.yaml


           kubectl delete deployment nginx-deployment
           kubectl apply -f deployment.yml
           kubectl rollout status deployment/nginx-deployment
           kubectl get pods | grep nginx
