name: Deploy to k8s

on:
  push:
    branches:
      - master

env:
  KUBECONFIG: ${{ secrets.KUBE_CONFIG }}

jobs:
  deploy:
    runs-on: self-hosted
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Create Docker Image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true

    - name: Deploy to k8s
      uses: actions-hub/kubectl@master
      env:
       KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}
      with:
       args: apply -f deployment.yml
