name: Deploy to Kubernetes

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest  # GitHub-hosted runner

    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v6

      # Set up Java (if needed)
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '8'

      # Build project
      - name: Build with Gradle
        run: ./gradlew build
# 5️⃣ Configure kubeconfig dynamically
      - name: Configure kubeconfig
        run: |
         mkdir -p $HOME/.kube
         cat <<EOF > $HOME/.kube/config
apiVersion: v1
kind: Config
clusters:
- name: cluster
  cluster:
    certificate-authority-data: ${{ secrets.KUBE_CA }}
    server: ${{ secrets.KUBE_URL }}
contexts:
- name: context
  context:
    cluster: cluster
    user: gha-user
    namespace: github-actions
current-context: context
users:
- name: gha-user
  user:
    token: ${{ secrets.KUBE_TOKEN }}
EOF
    chmod 600 $HOME/.kube/config


      # Deploy to Kubernetes
      - name: Deploy to k8s
        run: |
          kubectl get pods
          kubectl apply -f deployment.yml
