name: Deploy to Kubernetes

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest  # GitHub-hosted runner

    steps:
    
      # Configure kubeconfig on the runner
      - name: Setup kubectl
        uses: azure/setup-kubectl@v4

      - name: Configure kubeconfig
        run: |
          echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > kubeconfig.yaml
          export KUBECONFIG=$PWD/kubeconfig.yaml
          kubectl get nodes
        

      # Deploy to Kubernetes
      - name: Deploy to k8s
        run: |
      
         export KUBECONFIG=$PWD/kubeconfig.yaml
         kubectl delete deployment nginx-deployment
         kubectl apply -f deployment.yml
         kubectl rollout status deployment/nginx-deployment
         kubectl get pods | grep nginx
